{% load staticfiles %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>beta.edu.pl</title>
    </head>
    <body>

    <div class="page-header">
    {% if user.is_authenticated %}

    <a href="{% url 'logout' %}?next=/" class="top-menu"><span class="glyphicon glyphicon-off" title="Wyloguj się"></span></a>
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" title="Dodaj nowy artykuł"></span></a>
    <div class="userinfo">Witaj {{ user.get_username }}</div>
    {% endif %}
        <h1><a href="/">beta.edu.pl</a></h1>

    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

    </body>
</html>